Package: ni-custom-device-wizard-{veristand_version}
Version: {nipkg_version}
Architecture: windows_all
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description: Provides custom device wizard for NI VeriStand {veristand_version}.
XB-Eula: eula-ni-standard
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {display_version}
XB-DisplayName: Custom Device Wizard for VeriStand {veristand_version}
